/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

/* Define custom variables */
:root {
  /* Colors */
  --blue-color: #3b82f6;
  --red-color: #ef4444;
  --yellow-color: #eab308;
  --green-color: #22c55e;
  --white-color: #fff;
  --neutral-color: #d4d4d4;
  --light-black: #0000005e;
  --dark-blue: #2563eb;

  /* Standard pxs */
  --x-big: 64px;
  --big: 32px;
  --normal: 16px;
  --small: 8px;
  --x-small: 4px;

  /* Others */
  --shadow-style-1: 1px 2px 3px var(--light-black);
  --shadow-style-2: 0 0 var(--small) var(--light-black);
  --shadow-style-3: -1px -1px 1px var(--light-black);

  --add-icon-size-1: 56px;
  --add-icon-size-2: 50px;
}

/* Apply general styling and reset */
html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: var(--x-small);
  border-radius: var(--x-small);
  border: none;
}

/* Style body element */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Style sidebar section of app */
aside {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: var(--big);
}

aside .logo-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--small);
  margin-bottom: var(--normal);
}

.logo-link .mdi {
  font-size: 48px;
}

aside nav {
  margin-left: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--small);
}

nav div {
  padding: var(--small);
  border-radius: var(--x-small);
  transition: transform 0.3s, background-color 0.3s;
}

nav div:hover {
  transform: scale(1.05);
  background-color: var(--dark-blue);
}

nav div:active {
  transform: scale(0.95);
}

.focus {
  background-color: var(--dark-blue);
}

/* Style main section of app */
main {
  min-height: 100vh;
  padding: var(--x-small) var(--normal);
}

.container {
  margin-top: var(--small);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  align-self: flex-start;
  margin-top: var(--big);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--normal);
  margin-bottom: calc(var(--x-big) + (2 * var(--normal)));
}

.empty {
  align-self:center;
  font-style: italic;
  display: flex;
  margin-top: 40vh;
}

.todo,
.project {
  background-color: var(--white-color);
  border-radius: var(--small);
  padding: var(--small);
  box-shadow: var(--shadow-style-1);
  border-left: var(--small) solid var(--blue-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--x-small);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.todo.completed,
.project.completed {
  background-color: var(--neutral-color);
  box-shadow: var(--shadow-style-2);
}

.todo .title,
.project .name {
  align-self: center;
}

.priority-and-parent-project-name,
.controls,
.controls div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priority,
.incomplete-todos,
.completed-todos {
  font-weight: 900;
  text-shadow: var(--shadow-style-3);
}

.incomplete-todos,
.completed-todos {
  text-shadow: var(--shadow-style-2);
}

.priority.high,
.incomplete-todos {
  color: var(--red-color);
}

.priority.medium {
  color: var(--yellow-color);
}

.priority.low,
.completed-todos {
  color: var(--green-color);
}

.parent-project-name,
.todos {
  font-weight: 900;
  font-style: italic;
}

input[type="checkbox"] {
  width: calc(var(--big) - var(--small));
  height: calc(var(--big) - var(--small));
}

.controls div {
  gap: var(--small);
}

.todo .mdi,
.project .mdi {
  padding: var(--x-small);
  border-radius: var(--x-small);
  font-size: calc(var(--big) - var(--small));
  transition: background-color 0.3s, transform 0.3s;
}

.todo .mdi:hover,
.project .mdi:hover {
  background-color: var(--light-black);
}

.todo .mdi:active,
.project .mdi:active {
  transform: scale(0.9);
}

.add-icon {
  position: absolute;
  bottom: var(--big);
  right: var(--big);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--add-icon-size-1);
  height: var(--add-icon-size-1);
  box-shadow: var(--shadow-style-2);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.add-icon:hover {
  transform: scale(1.1);
}

.add-icon:active {
  transform: scale(0.9);
}

.add-icon .mdi {
  font-size: var(--add-icon-size-1);
}

dialog {
  margin: auto;
  border: none;
  outline: none;
  padding: var(--normal);
  background-color: var(--neutral-color);
  border-radius: var(--small);
  box-shadow: var(--shadow-style-1);
  width: max(300px, 30%);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: var(--normal);
}

form .form-group {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--small);
}

button {
  color: var(--white-color);
  padding: var(--small);
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

button[type="button"] {
  background-color: var(--light-black);
}

button[type="submit"] {
  background-color: var(--blue-color);
}

dialog[open] {
  animation: fade-in 0.5s ease-in forwards;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.5s ease-in forwards;
}

/* Animation keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: var(--light-black);
  }
}

@media screen and (max-width: 425px) {
  body {
    display: block;
  }

  aside {
    display: flex;
    flex-direction: column;
  }

  aside .logo-link {
    margin: auto;
  }

  aside nav {
    flex-direction: row;
    margin: auto;
  }

  main {
    min-height: 70vh;
  }

  .content {
    align-self: center;
    width: 100%;
    max-width: 300px;
  }

  .empty {
    margin-top: 20vh;
  }

  .add-icon {
    width: var(--add-icon-size-2);
    height: var(--add-icon-size-2);
    right: var(--normal);
    bottom: var(--normal);
  }

  .add-icon .mdi {
    font-size: var(--add-icon-size-2);
  }
}
